div.lx-form label {
  float: left;
  width: 150px;
  display: block;
  text-align: right;
  margin-right: 5px;
  margin-bottom: 3px;
}

div.lx-form input, div.lx-form select, div.lx-form textarea {
  float: left;
  margin-bottom: 3px;
}

div.lx-form br {
  clear: left;
  margin-bottom: 3px;
}

div.form-field {
  float: left;
  margin-bottom: 3px;
  width: 300px;
}

div.form-field label {
  float: none;
  width: auto;
  display: inline;
  text-align: left;
  margin-left: 5px;
}


.lx h4 {
  margin-bottom:10px;
}